<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>

<h4 style="text-align: center">Добавить пользователя</h4>

<table style="border: 1px solid; margin: auto">
    <tbody>
    <tr>
        <td style="padding: 0 5px; text-align: center" rowspan="2"><label for="firstName">Имя</label></td>
        <td style="padding: 0 5px; text-align: center" rowspan="2"><label for="lastName">Фамилия</label></td>
        <td style="padding: 0 5px; text-align: center" rowspan="2"><label for="email">Е-мейл</label></td>
        <td colspan="3" style="text-align: center">Дата рождения</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td style="padding: 0 5px; text-align: center"><label for="year">год</label></td>
        <td style="padding: 0 5px; text-align: center"><label for="month">месяц</label></td>
        <td style="padding: 0 5px; text-align: center"><label for="day">число</label></td>
    </tr>
    <tr style="border: 0">
        <form action="#" th:action="@{/addus}" th:object="${user}" method="post">
            <td><input type="text" id="firstName" size="15" th:field="*{firstName}"></td>
            <td><input type="text" id="lastName" size="20" th:field="*{lastName}"></td>
            <td><input type="text" id="email" size="25" th:field="*{email}"></td>

            <td><input type="text" id="year" size="4" th:field="*{year}"></td>
            <td><input type="text" id="month" size="4" th:field="*{month}"></td>
            <td><input type="text" id="day" size="4" th:field="*{day}"></td>
            <td><input type="submit"></td>
        </form>
    </tr>
    </tbody>
</table>
</body>

<style>
    .button {
        display: inline-block;
        font-family: 'Arial', 'Verdana', serif;
        text-decoration: none;
        background-color: #e5e5e5;
        color: #0007e0;
        border: 1px solid #0007e0;
        border-radius: 4px;
        font-size: 14px;
        padding: 4px 10px;
        transition: all 0.3s ease;
    }

    .button:hover {
        background-color: #d4e4fc;
        color: #4500b5;
        border: 1px solid #000000;
    }
</style>
</html>
