<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table style="border: 1px solid; margin: auto">
    <form th:action="update_user" th:object="${userDto}" method="get">
        <tr>
            <td>
                <table style="border: 0; margin: auto">
                    <thead>
                    <tr>
                        <th style="padding: 0 5px; text-align: center" rowspan="2"><label for="firstName">Имя</label>
                        </th>
                        <th style="padding: 0 5px; text-align: center" rowspan="2"><label for="lastName">Фамилия</label>
                        </th>
                        <th style="padding: 0 5px; text-align: center" rowspan="2"><label for="email">Е-мейл</label>
                        </th>
                        <th colspan="4" style="text-align: center">Дата рождения</th>
                    </tr>
                    <tr>
                        <th style="padding: 0 5px; text-align: center"><label for="year">год</label></th>
                        <th style="padding: 0 5px; text-align: center"><label>до н.э.</label></th>
                        <th style="padding: 0 5px; text-align: center"><label for="month">месяц</label></th>
                        <th style="padding: 0 5px; text-align: center"><label for="day">число</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="border: 0">
                        <td><input type="text" id="firstName" size="15" th:field="*{firstName}"></td>
                        <td><input type="text" id="lastName" size="20" th:field="*{lastName}"></td>
                        <td><input type="text" id="email" size="25" th:field="*{email}"></td>
                        <td><input type="text" id="year" size="3" th:field="*{birthYear}"></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" th:field="*{eraBC}"></td>
                        <td><input type="text" id="month" size="3" th:field="*{birthMonth}"></td>
                        <td><input type="text" id="day" size="3" th:field="*{birthDay}"></td>
                    </tr>
                    </tbody>
                </table>
                <table style="border: 0; margin: auto">
                    <tr>
                        <td><input type="text" id="id" hidden="hidden" th:field="*{id}"></td>
                        <td><input type="submit" value="Готово" class="button"></td>
                        <td><input type="button" class="button" onclick="history.back();" value="Отмена"/></td>
                    </tr>
                </table>
            </td>
        </tr>
    </form>
</table>
</body>

<style>
    .button {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        background-color: #e5e5e5;
        color: #000000;
        border: 1px solid #000000;
        border-radius: 4px;
        font-size: 14px;
        padding: 2px 6px;
        transition: all 0.3s ease;
    }

    .button:hover {
        background-color: #d4e4fc;
        color: #001cab;
        border: 1px solid #001cab;
    }
</style>
</html>
