<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Пользователи</title>
</head>
<body>
<h3 style="text-align: center">Список пользователей</h3>
<table style="border: 0; margin: auto;">
    <thead>
    <tr>
        <th style="border: 0">
            <a href="/users?column=firstName" class="button">Имя</a>
            <a href="/users?column=lastName" class="button">Фамилия</a>
        </th>
        <th style="border: 0"><a href="/users?column=email" class="button">Е-мейл</a></th>
        <th style="border: 0"><a href="/users?column=birthDate" class="button">Дата рождения</a></th>
        <th style="border: 0"><a href="/users?column=recordDateTime" class="button">Дата, время записи</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td style="border: 0; padding: 0 5px" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></td>
        <td style="border: 0; padding: 0 5px" th:text="${user.getEmail()}"></td>
        <td style="border: 0; padding: 0 5px; text-align: center" th:text="${user.birthDateToString()}"></td>
        <td style="border: 0; padding: 0 5px; text-align: center" th:text="${user.recordDateTimeToString()}"></td>
        <td style="border: 0; padding: 0 5px; text-align: center">
            <a th:attr="href='/show_update_user?id=' + ${user.id}" class="button">Редактироать</a>
        </td>
        <td style="border: 0; padding: 0 5px; text-align: center">
            <a th:attr="href='/remove_user?id=' + ${user.id}" class="button">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<h4 style="text-align: center">Добавить пользователя</h4>
<table style="border: 1px solid; margin: auto">
    <thead>
    <tr>
        <th style="padding: 0 5px; text-align: center" rowspan="2"><label for="firstName">Имя</label></th>
        <th style="padding: 0 5px; text-align: center" rowspan="2"><label for="lastName">Фамилия</label></th>
        <th style="padding: 0 5px; text-align: center" rowspan="2"><label for="email">Е-мейл</label></th>
        <th colspan="3" style="text-align: center">Дата рождения</th>
        <th rowspan="2"></th>
    </tr>
    <tr>
        <th style="padding: 0 5px; text-align: center"><label for="year">год</label></th>
        <th style="padding: 0 5px; text-align: center"><label for="month">месяц</label></th>
        <th style="padding: 0 5px; text-align: center"><label for="day">число</label></th>
    </tr>
    </thead>
    <tbody>
    <tr style="border: 0">
        <form th:action="add_user" th:object="${userDto}" method="get">
            <td><input type="text" id="firstName" size="15" th:field="*{firstName}"></td>
            <td><input type="text" id="lastName" size="20" th:field="*{lastName}"></td>
            <td><input type="text" id="email" size="25" th:field="*{email}"></td>
            <td><input type="text" id="year" size="4" th:field="*{birthYear}"></td>
            <td><input type="text" id="month" size="4" th:field="*{birthMonth}"></td>
            <td><input type="text" id="day" size="4" th:field="*{birthDay}"></td>
            <td><input type="submit" value="Готово" class="button"></td>
        </form>
    </tr>
    </tbody>
</table>
</body>

<!-- Почему css стили не загружаются(или не применяются) ? -->
<style>
    .button {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        background-color: #e5e5e5;
        color: #000000;
        border: 1px solid #000000;
        border-radius: 4px;
        font-size: 14px;
        padding: 2px 6px;
        transition: all 0.3s ease;
    }

    .button:hover {
        background-color: #d4e4fc;
        color: #001cab;
        border: 1px solid #001cab;
    }
</style>
</html>
